<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      h1:nth-child(2){
        color: rgb(237, 149, 149);
      }
    </style>
  </head>
  <body>
    <h1>You’re nearly there!</h1>
    <h1>Hello {{name}} !</h1>
    <br>
    <h5>To finish setting up your account and start using Elect Shop, confirm we’ve got the correct email for you.</h2>
    <p><a href=`/auth/activation?token={{bottonUrl}}`>Click Here!</a></p>
  </body>
</html>
